body {
    background-color: white;
}

#bankPanel, #workPanel, #laptopSelect {
    padding: 10px 20px 20px 20px;
    background-color: #e8e7e6;
    width: 180px;
}

#laptopInfo {
    padding: 10px 20px 20px 20px;
    background-color: #e8e7e6;
    width: 720px;
}

#balance{
    text-align: right;
    right: 20px;
}
#loan {
    width: 170px;

}
